.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid greenyellow;
  margin: 5px auto;
  padding: 5px;
}

.pokeCard {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 45%;
  flex-wrap: wrap; 
  margin: 5px auto;
}

h1 {
  animation-name: glow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0% {color: gold;}
  25% {color: greenyellow;}
  50% {color: red;}
  75% {color: white;}
  90% {color: gold;}
  100% {color: gold;}
}